.login-content {
  align-self: center;
  .card {
      border: 1px solid rgba(0, 0, 0, 0.433);
      padding: 50px;
      margin-bottom: 10px;
    .login-content {
      display: grid;
      grid-template-rows: repeat(5, min-content);
      gap: 20px;
      .input{
        width: 70%;
        justify-self: center;
      }
      .button {
        width: 80%;
        justify-self: center;
      }
    }
    .register-content {
      display: grid;
      grid-template-rows: repeat(5, min-content);
      gap: 20px;
      .input{
        width: 70%;
        justify-self: center;
      }
      .button {
        width: 80%;
        justify-self: center;
      }
    }
  }
}
